.searchInfoWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0 20px;
}

.videoList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.videoListItem {
  list-style: none;
}

.queryTitle,
.videosCount {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.queryTitle {
margin-right: 15px;
}

.videosCount,
.viewsCount {
color: rgba(23, 23, 25, 0.3);
}

.videoLink,
.channelLink,
.viewsCount {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.videoLink {
  font-weight: 500;
}

.channelLink {
  font-weight: 400;
}
