.title {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  padding: 40px 0;
}

.favoritesList {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background-color: #ffffff;
}

.itemTitle {
  cursor: pointer;
  transition: 0.2s;
  padding-left: 20px;
}

.itemTitle:hover,
.itemTitle:focus {
  color:#1890ff;
}

.editLink {
  color: rgba(24, 143, 255, 0.8);
}

.editLink:hover,
.editLink:focus {
  color: rgba(24, 143, 255, 1);
}

.deleteLink {
  color: rgba(255, 0, 0, 0.8);
}

.deleteLink:hover,
.deleteLink:focus {
  color: rgba(255, 0, 0, 1);
}
