.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px 60px;
  background-color: #ffffff;
  border: 1px solid rgba(39, 39, 39, 0.1);
  border-radius: 5px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding: 40px 0 15px;
}

.form {
  width: 100%;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(23, 23, 25, 0.3);
}

.input:hover,
.input:focus,
.passwInput:hover,
.passwInput:focus {
  background: rgba(197, 228, 249, 0.3);
}

.inputWrapper {
  position: relative;
}

.icon svg {
  position: absolute;
  right: 3%;
  top: 50%;
  font-size: 24px;
  color: #d1d1d1;
  cursor: pointer;
  transform: scale(-1, 1) translateY(-50%);
  transition: 0.2s;
  z-index: 1;
}

.icon:hover svg,
.icon:focus svg {
  color: #1890ff;
}

.icon:hover ~ .passwInput {
  background: rgba(197, 228, 249, 0.3);
  border-color: #40a9ff;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .wrapper{
    padding: 20px 20px 20px;
  }

  .title {
    padding: 25px 0 15px;
  }
}
