.wrapper {
  display: flex;
  max-width: 1040px;
  margin: 0 auto;
}

.menuWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menuLogoWrapper {
  display: flex;
}

.logoWrapper {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.navlink {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
