.logoWrapper {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navlink {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* adaptive */
@media (max-width: 409px) {
  .logoWrapper {
    margin-right: 0;
  }
  .menuItem {
    padding: 0 10px;
  }
}
/* adaptive */
