.label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
